{% extends "base.html" %}
{% block content %}

<div class="container mt-3">
  <h1>Face Learning</h1>
  <p>Help system learn and fix faces</p>
  
  <h4>Folders</h4>

  <ul class="nav nav-tabs mb-3">
    {% if folders %}
    {% for folder in folders %}
    {% set folder_date = folder | replace('./learning_', '') | replace('./learning', '') %}
    <li class="nav-item">
      <a class="nav-link {% if date == folder_date %}active{% endif %}" href="/classify?date={{ folder | replace('./learning_', '') | replace('./learning', '') }}">{{ folder | replace('./', '') }}</a>
    </li>
    {% endfor %}
    {% endif %}
  </ul>

  <h4>Listing users</h4>
  <table class="table table-strip">
    <thead>
      <th>No.</th>
      <th>User</th>
      <th>Status</th>
      <th>Number of Images</th>
      <th>Last Classify</th>
      <th>Last Updatd</th>
    </thead>
    <tbody>
      {% if users %}
      {% for user in users %}
      <tr>
        <td>
          {{ loop.index }}
        </td>
        {% if user['done'] %}
        <td>
          <a href="/classify?user_id={{ user['name'] }}&next={{ user['next'] }}&date={{ date }}">{{ user['name'] }}</a>
        </td>
        <td>
          DONE
        </td>
        {% else %}
        <td>
          <a href="/classify?user_id={{ user['name'] }}&next={{ user['next'] }}&date={{ date }}">{{ user['name'] }}</a>
        </td>
        <td>
          New Images
        </td>
        {% endif %}
        <td>
          {{ user['num_images'] }}
        </td>
        <td>
          {{ user['last_classify'] }}
        </td>
        <td>
          {{ user['last_updated'] }}
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        There are no users
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
