{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
  <h1>Face Recognition</h1>
  <form action="/recognize" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="fileToUpload">Select image to upload:</label><br>
      <input type="file" id="image" name="image" aria-describedby="emailHelp" placeholder="Select an Image">
      <small id="emailHelp" class="form-text text-muted">Please up load an image with a face in it</small>
    </div>
    <button type="submit" class="btn btn-primary">Recognize</button>
  </form>
  {% if detection_data %}
  <h3>Face Recognition Result</h3>
  {% endif %}
  <div class="row mt-3">
    {% for detection in detection_data %}
    <div class="col-md-4">
      {% set detections = detection.get("detections") %}
      {% set image = detection["image"] %}
      <h5>MODEL {{ detection["model_name"] }}</h5>
      <img src="{{ image }}" style="max-width: 600px;"/><br>
      {% if detections %}
      Found {{ detections|length }} faces<br>
      {% for d in detections %}
      <strong>{{ loop.index }}. {{ d.0.0 }}</strong><br>
      Possibility: {{ d.0.1 }}%<br>
      {% endfor %}
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
